flow.json
[
    {
        "id": "d4076451.7cc0d8",
        "type": "tab",
        "label": "Facebook",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f491046c.336f78",
        "type": "http in",
        "z": "d4076451.7cc0d8",
        "name": "",
        "url": "/fbbot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 65,
        "y": 74,
        "wires": [
            [
                "815f6966.ecc388"
            ]
        ]
    },
    {
        "id": "815f6966.ecc388",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "msg.payload = msg.payload['hub.challenge'];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333,
        "y": 72,
        "wires": [
            [
                "7865582d.59bed8",
                "448a030.0e6e7fc"
            ]
        ]
    },
    {
        "id": "7865582d.59bed8",
        "type": "http response",
        "z": "d4076451.7cc0d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 488,
        "y": 55,
        "wires": []
    },
    {
        "id": "448a030.0e6e7fc",
        "type": "debug",
        "z": "d4076451.7cc0d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 508,
        "y": 89,
        "wires": []
    },
    {
        "id": "5d604e61.6215b",
        "type": "http in",
        "z": "d4076451.7cc0d8",
        "name": "",
        "url": "/fbbot",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 75,
        "y": 234,
        "wires": [
            [
                "970c7abf.38c198",
                "99a8a567.e5d2d8"
            ]
        ]
    },
    {
        "id": "22c0e85b.bf8768",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 762,
        "y": 229,
        "wires": [
            [
                "62fedf3e.6c46e"
            ]
        ]
    },
    {
        "id": "62fedf3e.6c46e",
        "type": "watson-conversation-v1",
        "z": "d4076451.7cc0d8",
        "name": "",
        "workspaceid": "2278b3fe-fce5-4075-9516-ae1da104246d",
        "multiuser": false,
        "context": true,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "x": 1138,
        "y": 229,
        "wires": [
            [
                "366fe71f.993618"
            ]
        ]
    },
    {
        "id": "939aaea6.0015",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "var messageText = msg.payload;//msg.payload.output.text[0];\nvar senderId = context.global.sid;\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": messageText\n}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1480,
        "y": 315,
        "wires": [
            [
                "b45b9ec9.d75a9"
            ]
        ]
    },
    {
        "id": "b45b9ec9.d75a9",
        "type": "http request",
        "z": "d4076451.7cc0d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://graph.facebook.com/v2.10/me/messages?access_token=EAACVOy8zT4sBAPps7nr9OEB9rX61wPWy2ZAW9bpr6dNbHmLGhRs4DmOWoNr874WDZBPTmm5cM0ZCosqonzWoQG4QBjrjJG4yhPX9IRfGjdS2s7J3nwYMH0KhLBKbIprdZCKTKYLV1Xf0xnI9mpCvX86DBqS4jgIPsJo6c9nZBoQZDZD",
        "tls": "",
        "x": 1632,
        "y": 315,
        "wires": [
            [
                "346db0ad.5cda8"
            ]
        ]
    },
    {
        "id": "346db0ad.5cda8",
        "type": "http response",
        "z": "d4076451.7cc0d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1774,
        "y": 315,
        "wires": []
    },
    {
        "id": "22649ce7.dd4ce4",
        "type": "weather_insights",
        "z": "d4076451.7cc0d8",
        "name": "weather",
        "host": "twcservice.mybluemix.net",
        "service": "/observations/timeseries.json?hours=23",
        "geocode": "-23.9678820,-46.3288870",
        "units": "m",
        "language": "pt-BR",
        "x": 770,
        "y": 316,
        "wires": [
            [
                "c7b148af.7ba0a8"
            ]
        ]
    },
    {
        "id": "366fe71f.993618",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "msg.payload = msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1306,
        "y": 229,
        "wires": [
            [
                "939aaea6.0015"
            ]
        ]
    },
    {
        "id": "c7b148af.7ba0a8",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "var resp = \"A temperatura em \" + msg.observations[0].obs_name + \" é de \" + msg.observations[0].temp + \" graus. O tempo está \" + msg.observations[0].wx_phrase.toLowerCase() + \", e a sensação térmica é de \" + msg.observations[0].feels_like + \" graus.\"\nmsg.payload = resp;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 316,
        "wires": [
            [
                "939aaea6.0015"
            ]
        ]
    },
    {
        "id": "970c7abf.38c198",
        "type": "switch",
        "z": "d4076451.7cc0d8",
        "name": "",
        "property": "payload.entry[0].messaging",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 241,
        "y": 233,
        "wires": [
            [
                "bc10c795.15a728"
            ],
            [
                "613f2e5.1d7ddd"
            ]
        ]
    },
    {
        "id": "613f2e5.1d7ddd",
        "type": "http response",
        "z": "d4076451.7cc0d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 373,
        "y": 265,
        "wires": []
    },
    {
        "id": "a1f8b1be.68af6",
        "type": "inject",
        "z": "d4076451.7cc0d8",
        "name": "text",
        "topic": "",
        "payload": "{ \t\"object\": \"page\", \t\"entry\": [{ \t\t\"id\": \"267858273714452\", \t\t\"time\": 1504484566961, \t\t\"messaging\": [{ \t\t\t\"sender\": { \t\t\t\t\"id\": \"1660195054032939\" \t\t\t}, \t\t\t\"recipient\": { \t\t\t\t\"id\": \"267858273714452\" \t\t\t}, \t\t\t\"timestamp\": 1504484566829, \t\t\t\"message\": { \t\t\t\t\"mid\": \"mid.$cAACpboXtYRhke4nvLVeSkSlcXQrz\", \t\t\t\t\"seq\": 46836, \t\t\t\t\"text\": \"Olá Isabel\" \t\t\t} \t\t}] \t}] }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 96,
        "y": 267,
        "wires": [
            [
                "970c7abf.38c198"
            ]
        ]
    },
    {
        "id": "ee267192.bde35",
        "type": "inject",
        "z": "d4076451.7cc0d8",
        "name": "loc",
        "topic": "",
        "payload": "{ \t\"object\": \"page\", \t\"entry\": [{ \t\t\"id\": \"267858273714452\", \t\t\"time\": 1504527194425, \t\t\"messaging\": [{ \t\t\t\"sender\": { \t\t\t\t\"id\": \"1660195054032939\" \t\t\t}, \t\t\t\"recipient\": { \t\t\t\t\"id\": \"267858273714452\" \t\t\t}, \t\t\t\"timestamp\": 1504527194310, \t\t\t\"message\": { \t\t\t\t\"mid\": \"mid.$cAACpboXtYRhkfhRgxleTM8XlZs5A\", \t\t\t\t\"seq\": 46911, \t\t\t\t\"attachments\": [{ \t\t\t\t\t\"title\": \"Rafael's Location\", \t\t\t\t\t\"url\": \"https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.bing.com%2Fmaps%2Fdefault.aspx%3Fv%3D2%26pc%3DFACEBK%26mid%3D8100%26where1%3D-23.579970410413%252C%2B-46.649312418324%26FORM%3DFBKPL1%26mkt%3Den-US&h=ATPGCDXzJu7e3dnWLrnxTFYMWhbzlcBO7L5n1m7H_twXdUgi6Fvv8wRf3J_BOkYv_4XIkCXglUwrtYmd2PAEmJ_2VTNLuhdmLSTRW7nyvpS3EtS0-Q&s=1&enc=AZNS0C8yQ0FE38WgIhvVE9R_ftiaiSBIe_LDRwP2CpU2vsiM_rKWuNfQOsEOzM2VWOrIA5t3nRtLCvYiyoy_Ag-M\", \t\t\t\t\t\"type\": \"location\", \t\t\t\t\t\"payload\": { \t\t\t\t\t\t\"coordinates\": { \t\t\t\t\t\t\t\"lat\": -23.579970410413, \t\t\t\t\t\t\t\"long\": -46.649312418324 \t\t\t\t\t\t} \t\t\t\t\t} \t\t\t\t}] \t\t\t} \t\t}] \t}] }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 95,
        "y": 301,
        "wires": [
            [
                "970c7abf.38c198"
            ]
        ]
    },
    {
        "id": "546301d5.e240c",
        "type": "switch",
        "z": "d4076451.7cc0d8",
        "name": "",
        "property": "payload.entry[0].messaging[0].message.attachments[0].type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "location",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 475,
        "y": 316,
        "wires": [
            [
                "19caca76.a7f846"
            ],
            [
                "24973432.7c8e0c"
            ],
            [
                "7d6f2df9.caee44"
            ]
        ]
    },
    {
        "id": "24973432.7c8e0c",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "msg.payload = msg.payload.entry[0].messaging[0].message.attachments[0].payload.coordinates.lat + \",\" + msg.payload.entry[0].messaging[0].message.attachments[0].payload.coordinates.long;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 316,
        "wires": [
            [
                "22649ce7.dd4ce4"
            ]
        ]
    },
    {
        "id": "bc10c795.15a728",
        "type": "switch",
        "z": "d4076451.7cc0d8",
        "name": "",
        "property": "payload.entry[0].messaging[0].message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 371,
        "y": 233,
        "wires": [
            [
                "22c0e85b.bf8768"
            ],
            [
                "546301d5.e240c"
            ]
        ]
    },
    {
        "id": "99a8a567.e5d2d8",
        "type": "debug",
        "z": "d4076451.7cc0d8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 261,
        "y": 201,
        "wires": []
    },
    {
        "id": "3c27117d.f52c9e",
        "type": "inject",
        "z": "d4076451.7cc0d8",
        "name": "audio",
        "topic": "",
        "payload": "{\"object\":\"page\",\"entry\":[{\"id\":\"267858273714452\",\"time\":1504546198213,\"messaging\":[{\"sender\":{\"id\":\"1660195054032939\"},\"recipient\":{\"id\":\"267858273714452\"},\"timestamp\":1504546198111,\"message\":{\"mid\":\"mid.$cAACpboXtYRhkfzZaX1eTfEO1g_s1\",\"seq\":46991,\"attachments\":[{\"type\":\"audio\",\"payload\":{\"url\":\"https://cdn.fbsbx.com/v/t59.3654-21/20952474_1829271443754087_7107248706746843136_n.aac/audioclip-1504546197205-2484.aac?oh=0e0a683f7ed87690db1ad978458b915d&oe=59B06B98\"}}]}}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 94,
        "y": 334,
        "wires": [
            [
                "970c7abf.38c198"
            ]
        ]
    },
    {
        "id": "137b23f2.a0110c",
        "type": "watson-speech-to-text",
        "z": "d4076451.7cc0d8",
        "name": "stt",
        "continuous": true,
        "speakerlabels": false,
        "lang": "pt-BR",
        "langhidden": "",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "payload-response": true,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 878,
        "y": 284,
        "wires": [
            [
                "62fedf3e.6c46e"
            ]
        ]
    },
    {
        "id": "19caca76.a7f846",
        "type": "function",
        "z": "d4076451.7cc0d8",
        "name": "",
        "func": "context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.attachments[0].payload.url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 284,
        "wires": [
            [
                "c2063a5a.3dee28"
            ]
        ]
    },
    {
        "id": "c2063a5a.3dee28",
        "type": "ffmpeg-conversion",
        "z": "d4076451.7cc0d8",
        "name": "conv.",
        "format": "wav",
        "audiochannels": "mono",
        "x": 760,
        "y": 284,
        "wires": [
            [
                "137b23f2.a0110c"
            ]
        ]
    },
    {
        "id": "7d6f2df9.caee44",
        "type": "http response",
        "z": "d4076451.7cc0d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 642,
        "y": 348,
        "wires": []
    }
]
